# config
.env

# cache
.eslintcache
tsconfig.tsbuildinfo

# dependencies
node_modules

# ide
.idea/

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
build

# Server
packages/server/assets
